#CallCenter_jianpan {
    position: absolute;
    top: 42px;
    /*left: 0px;*/
    margin-left: -5px;
    z-index: 5000;
    background-color: rgba(36, 41, 48, 0.1);
    width: 106px;
    padding-top: 5px;
    padding-left: 2px;
    padding-bottom: 2px;
    cursor: default;
}

#CallCenter_jianpan .jianpan_ul {
    width: 110px;
    padding: 0;
    margin: 0;
}

#CallCenter_jianpan .jianpan_icon {
    width: 31px;
    height: 31px;
    background: url(./images/jianpan.png) left top no-repeat;
    background-position: center 0;
    background-size: auto auto;
    margin: 0;
    margin-left: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    float: left;
    list-style-type: none;
}

#CallCenter_jianpan .jianpan_1 {
    background-position: 0 0;
}

#CallCenter_jianpan .jianpan_2 {
    background-position: -35px 0;
}

#CallCenter_jianpan .jianpan_3 {
    background-position: -70px 0;
}

#CallCenter_jianpan .jianpan_4 {
    background-position: 0 -35px;
}

#CallCenter_jianpan .jianpan_5 {
    background-position: -35px -35px;
}

#CallCenter_jianpan .jianpan_6 {
    background-position: -70px -35px;
}

#CallCenter_jianpan .jianpan_7 {
    background-position: 0 -70px;
}

#CallCenter_jianpan .jianpan_8 {
    background-position: -35px -70px;
}

#CallCenter_jianpan .jianpan_9 {
    background-position: -70px -70px;
}

#CallCenter_jianpan .jianpan_x {
    background-position: 0 -105px;
}

#CallCenter_jianpan .jianpan_0 {
    background-position: -35px -105px;
}

#CallCenter_jianpan .jianpan_h {
    background-position: -70px -105px;
}

#CallCenter_TCBox {
    margin-left: 170px;
    clear: both;
    position: absolute;
    background-color: #FFF;
    border: #a2a2a2 solid 1px;
    top: 42px;
    padding: 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    height: 500px;
    overflow-y: scroll;
    z-index: 999;
}

.CallCenter_group {
    padding: 5px;
    border-bottom: 1px;
    border-bottom-color: #a2a2a2;
    border-bottom-style: dashed;
}

.CallCenter_ul {
    border-bottom: 1px;
    border-bottom-color: #a2a2a2;
    border-bottom-style: solid;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}

.CallCenter_ul li {
    width: 200px;
    border-bottom: 1px;
    border-bottom-color: #a2a2a2;
    border-bottom-style: dashed;
    padding: 5px 10px 0 10px;
}

.CallCenter_agent {
    float: left;
    margin-left: 10px;
}

.CallCenter_agentSelected {
    float: right;
    cursor: pointer;
}
/*Õ‚∫Ù*/
#CallCenter_main .enternum {
    position: absolute;
    top: 42px;
    left: -90px;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#CallCenter_main .enternum .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 11px;
    border-color: transparent;
    border-style: solid;
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
}

#CallCenter_main .enternum .arrow:after {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #FFF;
    border-top-width: 0;
}

#CallCenter_main .enternum .popover_content {
    padding: 9px 14px;
    overflow: hidden;
}
#CallCenter_call_div .numtxt{
    width:175px;
}